@mixin button {
  font-family: Merriweather;
  font-size: 18px;
  background-color: transparent;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: black;
  background-color: $orange-accent2;
  border-radius: 5px;
}

.blogpost-preview {
  background-color: white;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 20px;
  width: 70%;
  min-height: 200px;
  padding: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: 0.3s;

  &.animate {
    animation: slide-in-right 1s forwards;
    opacity: 0;
  }

  &:hover {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.4);
    width: 73%;

    .blogpost-preview__details {
      width: 92%;
    }

    .blogpost-preview__image img {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }

  .blogpost-preview__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      max-height: 100%;
      z-index: 1;
      transition: filter 0.8s;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
    }

    .blogpost-preview__read-button {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;

      button {
        @include button;
        -webkit-animation: scale-in-center 0.4s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: scale-in-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
          both;
      }
    }
  }

  .blogpost-preview__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    padding: 5px 0px;
    width: 95%;

    h3.blogpost-preview__details__title {
      margin: 0px;
      font-size: calc(#{$font-size} * 1.2);
    }
    h4.blogpost-preview__details__subtitle {
      margin: 0px;
      font-size: calc(#{$font-size} * 0.8);
      font-weight: normal;
      font-style: italic;
    }
    .blogpost-preview__details__date {
      font-size: calc(#{$font-size} * 0.7);
      text-align: right;
    }

    .mobile-read-button {
      display: none;
    }
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 780px) {
  .blogpost-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 90%;
    min-height: auto;

    .blogpost-preview__image {
      img {
        width: 100%;
        max-height: 100%;
        z-index: 1;
        -webkit-filter: none;
        filter: none;
      }

      .blogpost-preview__read-button {
        display: none;
      }
    }

    .blogpost-preview__details {
      .mobile-read-button {
        @include button;
        display: block;
        text-align: center;
      }
    }
  }
}
