.contact {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;

  & > div {
    padding: 10px;
    margin: 20px auto;
    width: 60%;
    background-color: $orange-lighten4;
    border: solid 2px $orange-lighten2;
    border-radius: 10px;
    text-align: center;
  }

  .contact__links {
    a {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 60%;
      margin: 10px auto;
      padding: 5px;
      background-color: $orange-lighten2;
      border: solid 2px $orange-lighten2;
      border-radius: 10px;
      color: white;
      text-decoration: none;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;

      &:hover {
        -webkit-animation-name: wobble-top;
        animation-name: wobble-top;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
      }

      $icon-size: 32px;
      img {
        width: $icon-size;
        height: $icon-size;
        vertical-align: middle;
      }
    }
  }
}

@-webkit-keyframes wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@media screen and (max-width: 780px) {
  .contact > div {
    width: calc(100% - 60px);

    .contact__links {
      a {
        width: 90%;
      }
    }
  }
}
