footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "VT323", monospace; //Sacramento;
  font-size: $font-size;
  background-color: $bg-color;
}

@media screen and (max-width: 780px) {
  footer {
    justify-content: center;
  }
}
