@import "./settings.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./sidebar.scss";
@import "./home.scss";

body {
  margin: 0;
  padding: 0;
  font-family: Merriweather;
  font-size: $font-size;
}

#root {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 10% 85% 5%;
}

header,
main,
footer {
  padding: 10px;
}

main {
  display: grid;
  grid-template-columns: 300px 1fr;
  background-color: $bg-color;
}

.intro-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 0px 20px 20px 20px;
  border-bottom: solid 3px $orange-lighten2;
  margin-bottom: 20px;

  & div.intro-card__title {
    background-color: $orange-lighten2;
    padding: 5px;
    border-radius: 5px;
  }
}

.tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: calc(#{$font-size} * 0.8);

  .tag {
    background-color: $orange-lighten4;
    margin: 0px 5px;
    padding: 5px;
    border-radius: 5px;

    &.tezos {
      background-color: $tezos-blue;
      color: white;
    }
  }
}
