@import "./settings.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./sidebar.scss";
@import "./home.scss";
@import "./blogpost-preview.scss";
@import "./blogpost.scss";
@import "./contact.scss";

body {
  margin: 0;
  padding: 0;
  font-family: Merriweather;
  font-size: $font-size;
}

#root {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 8% 87% 5%;
}

main {
  padding: 0px 10px 10px 10px;
  display: grid;
  grid-template-columns: 300px 1fr;
  background-color: $bg-color;
  height: calc(100% - 10px);
}

.tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .tag {
    background-color: $orange-lighten4;
    margin: 0px 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: Merriweather;
    font-size: calc(#{$font-size} * 0.8);

    &.tezos {
      background-color: $tezos-blue;
      color: white;
    }
    &.taquito {
      background-color: mediumseagreen;
      color: white;
    }
  }
}

.intro-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 0px 10px 10px 10px;
  border-bottom: solid 3px $orange-lighten2;
  margin-bottom: 10px;

  & div.intro-card__title {
    background-color: $orange-lighten2;
    padding: 5px;
    border-radius: 5px;
  }

  p {
    margin: 5px;
  }

  & div.intro-card__languages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    text-align: left;
    margin-top: 10px;

    img {
      height: 28px;
      width: 28px;
      margin-right: 10px;
      vertical-align: middle;
    }

    a {
      color: black;
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        color: $tezos-blue;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100vw - 20px);
  }

  .tags {
    justify-content: center;
  }
}
